button,
.btn {
  cursor: pointer;
  font-family: var(--global-font-family);
}

.btn.btn-pill {
  border-radius: 50vw;
}

.btn {
  --bg-color: transparent;
  --active-bg-color: var(--default-text-color);
  --color: var(--default-text-color);
  --active-color: var(--body-bg);

  padding: 0.5rem 1rem;
  font-weight: 500;

  background-color: var(--bg-color);
  color: var(--color);
  border: 1px solid var(--active-bg-color);
  border-radius: var(--border-radius);
  transition: background-color var(--default-animation-duration),
    color var(--default-animation-duration);
  &.active,
  &:hover {
    background-color: var(--active-bg-color);
    color: var(--active-color);
  }
}

.btn-primary {
  border: 0;
  --bg-color: var(--primary-light);
  --active-bg-color: var(--primary-dark);
  --color: var(--default-text-color);
  --active-color: var(--body-bg);
}

.btn-outline-primary {
  --bg-color: transparent;
  --active-bg-color: var(--primary-dark);
  --color: var(--primary-dark);
  --active-color: var(--body-bg);
}

.btn.btn-square {
  display: grid;
  place-content: center;
  width: 2rem;
  height: 2rem;
}

.rounded {
  border-radius: var(--border-radius);
}
