:root {
  --primary-dark-color: #647c4a;
  --primary-light-color: #cbdd71;
  --primary-lightest-color: #ecf8dc;
  --body-bg: #fff;
  --default-text-color: #222;
  --text-muted: #666;
  --border-color: #ccc;
}

.text-muted {
  color: var(--text-muted);
}
