.place-content-center {
  display: grid;
  place-content: center;
}

$flex-directions: row column column-reverse row-reverse;
@each $direction in $flex-directions {
  .flex-#{$direction} {
    flex-direction: #{$direction};
  }
  @each $key, $value in $breakpoints {
    @media (min-width: #{$value}) {
      .flex-#{$key}-#{$direction} {
        flex-direction: #{$direction} !important;
      }
    }
  }
}

$flex-wraps: wrap nowrap;
@each $wrapper in $flex-wraps {
  .flex-#{$wrapper} {
    flex-wrap: #{$wrapper};
  }
  @each $key, $value in $breakpoints {
    @media (min-width: #{$value}) {
      .flex-#{$key}-#{$wrapper} {
        flex-wrap: #{$wrapper} !important;
      }
    }
  }
}

$alignments: center flex-start flex-end baseline;
@each $alignment in $alignments {
  .align-items-#{$alignment} {
    align-items: #{$alignment};
  }
  .align-content-#{$alignment} {
    align-content: #{$alignment};
  }
  .align-self-#{$alignment} {
    align-self: #{$alignment};
  }
}

$justifies: center flex-start flex-end space-between;
@each $justify in $justifies {
  .justify-items-#{$justify} {
    justify-items: #{$justify};
  }
  .justify-content-#{$justify} {
    justify-content: #{$justify};
  }
  .justify-self-#{$justify} {
    justify-self: #{$justify};
  }
}

@for $i from 0 through 10 {
  $value: $i;
  $gap-value: $value * 0.5;
  .gap-#{$value} {
    gap: #{$gap-value}rem;
  }

  @each $key, $value2 in $breakpoints {
    @media (min-width: #{$value2}) {
      .gap-#{$key}-#{$value} {
        gap: #{$gap-value}rem !important;
      }
    }
  }
}

@for $i from 0 through 1 {
  $value: $i;
  .flex-grow-#{$value} {
    flex-grow: $value;
  }
  .flex-shrink-#{$value} {
    flex-shrink: $value;
  }
  .flex-#{$value} {
    flex: $value $value;
  }
}

$displays: none flex block grid inline;
@each $display in $displays {
  .d-#{$display} {
    display: #{$display};
  }
  @each $key, $value in $breakpoints {
    @media (min-width: #{$value}) {
      .d-#{$key}-#{$display} {
        display: #{$display} !important;
      }
    }
  }
}
