$margins: (
  "s": "margin-left",
  "e": "margin-right",
  "t": "margin-top",
  "b": "margin-bottom",
);
@for $i from 0 through 10 {
  $value: $i;
  $margin-value: $value * calc(1 / 2);
  .m-#{$value} {
    margin: #{$margin-value}rem;
  }
  .mx-#{$value} {
    margin-right: #{$margin-value}rem;
    margin-left: #{$margin-value}rem;
  }
  .my-#{$value} {
    margin-top: #{$margin-value}rem;
    margin-bottom: #{$margin-value}rem;
  }
  @each $margin-key, $margin-name in $margins {
    .m#{$margin-key}-#{$value} {
      #{$margin-name}: #{$margin-value}rem;
    }
    @each $key, $value2 in $breakpoints {
      @media (min-width: #{$value2}) {
        .m#{$margin-key}-#{$key}-#{$value} {
          #{$margin-name}: #{$margin-value}rem;
        }
      }
    }
  }
  @each $key, $value2 in $breakpoints {
    @media (min-width: #{$value2}) {
      .m-#{$key}-#{$value} {
        margin: #{$margin-value}rem;
      }
      .mx-#{$key}-#{$value} {
        margin-right: #{$margin-value}rem;
        margin-left: #{$margin-value}rem;
      }
      .my-#{$key}-#{$value} {
        margin-top: #{$margin-value}rem;
        margin-bottom: #{$margin-value}rem;
      }
    }
  }
}
@each $margin-key, $margin-name in $margins {
  .m#{$margin-key}-auto {
    #{$margin-name}: auto;
  }
  @each $key, $value2 in $breakpoints {
    @media (min-width: #{$value2}) {
      .m#{$margin-key}-#{$key}-auto {
        #{$margin-name}: auto;
      }
    }
  }
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}
.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}
