@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --header-font-family: "Cinzel", serif;
  --global-font-family: "Lato", sans-serif;
}

.font-lato {
  font-family: "Lato", sans-serif;
}

.font-cinzel {
  font-family: "Cinzel", serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
  margin-bottom: 8px;
  font-family: var(--header-font-family);
  text-transform: uppercase;
}

p,
.p {
  margin: 0;
  margin-bottom: 12px;
}

h1,
.h1 {
  font-size: 3.625rem;
}

h2,
.h2 {
  font-size: 2.5rem;
}

h4,
.h4 {
  font-size: 1.25rem;
}

h5,
.h5 {
  font-size: 1rem;
}

h6,
.h6,
p,
.p {
  font-size: 0.875rem;
}

$text-alignments: center end start justify left right;
@each $alignment in $text-alignments {
  .text-#{$alignment} {
    text-align: #{$alignment};
  }
  @each $key, $value in $breakpoints {
    @media (min-width: #{$value}) {
      .text-#{$key}-#{$alignment} {
        text-align: #{$alignment} !important;
      }
    }
  }
}

@for $i from 1 through 9 {
  $value: $i * 100;
  .fw-#{$value} {
    font-weight: $value !important;
  }
}
