<div class="carousel-wrapper">
  <button type="button" class="carousel-control left" (click)="previous()">
    <i class="control-icon fa-solid fa-chevron-left"></i>
  </button>
  <button type="button" class="carousel-control right" (click)="next()">
    <i class="control-icon fa-solid fa-chevron-right"></i>
  </button>
  <div class="carousel">
    <div
      *ngFor="let img of imgPaths; let i = index"
      class="carousel-item"
      [class.active]="currentImgIndex === i"
    >
      <img
        *ngIf="isInShowRange(i)"
        [src]="img"
        loading="lazy"
        alt=""
        class="carousel-item-img"
      />
    </div>
  </div>
</div>
