.carousel-wrapper {
  // --_carousel-width:
  --_max-width: 100%;
  --_control-width: 2rem;
  position: relative;
  width: clamp(min(90vw, 200px), 100vw, min(600px, 90vw));
  user-select: none;
  margin: auto;
}

.carousel-control {
  z-index: 10;
  position: absolute;
  width: var(--_control-width);
  top: 0;
  bottom: 0;
  border: 0;
  background: none;
  &.right {
    right: 0;
  }
  &.left {
    left: 0;
  }
}

.carousel {
  position: relative;
  display: block;
  width: 100%;
  max-width: calc(var(--_max-width) - (var(--_control-width) * 2));
  margin: 0 auto;
  aspect-ratio: 1;
}

.carousel-item {
  inset: 0;
  position: absolute;
  display: grid;
  place-content: center;
  overflow: hidden;
  opacity: 0;
  transition: opacity var(--default-animation-duration);
  transition-delay: var(--default-animation-duration);
  &.active {
    transition-delay: 0ms !important;
    opacity: 1;
    z-index: 1;
  }
}
