<footer>
  <div
    class="row bg-external-bg"
    style="padding-top: 24px; padding-bottom: 24px"
  >
    <div
      class="container d-flex flex-column fw-600 fs-14 gap-3"
      style="flex-wrap: wrap"
    >
      <ul
        class="social-media-list d-flex gap-2 align-items-center fs-28 text-primary"
      >
        <li class="social-media-item">
          <a
            [href]="socialMediaLinks['Facebook']"
            target="_blank"
            class="social-media-link btn btn-outline-primary "
          >
            <i class="fa-brands fa-facebook-f"></i>
          </a>
        </li>
        <li class="social-media-item">
          <a
            [href]="socialMediaLinks['Instagram']"
            target="_blank"
            class="social-media-link btn btn-outline-primary "
          >
            <i class="fa-brands fa-instagram"></i>
          </a>
        </li>
      </ul>
      <p style="line-height: 1.6">
        © 2024 All Rights Reserved
        <br />
        Site desenvolvido por
        <a
          href="https://moisesmarchini.vercel.app"
          target="_blank"
          >Moisés Marchini</a
        >
      </p>
    </div>
  </div>
</footer>
