<footer class="mt-8">
  <div class="container">
    <div
      class="d-flex flex-column fs-14 gap-3 text-muted"
      style="flex-wrap: wrap"
    >
      <ul class="social-media-list d-flex gap-1 align-items-center">
        <li class="social-media-item">
          <a
            [href]="socialMediaLinks['Facebook']"
            target="_blank"
            class="social-media-link btn btn-primary"
          >
            <i class="fa-brands fa-facebook-f"></i>
          </a>
        </li>
        <li class="social-media-item">
          <a
            [href]="socialMediaLinks['Instagram']"
            target="_blank"
            class="social-media-link btn btn-primary"
          >
            <i class="fa-brands fa-instagram"></i>
          </a>
        </li>
        <li class="social-media-item">
          <a
            [href]="socialMediaLinks['GoogleMaps']"
            target="_blank"
            class="social-media-link btn btn-primary"
          >
            <i class="fa-solid fa-location-dot"></i>
          </a>
        </li>
      </ul>
      <div class="router-links d-flex gap-2">
        <a [routerLink]="routes.termsOfUse">Terms of Use</a>
        <a [routerLink]="routes.privacyPolicy">Privacy Policy</a>
      </div>
      <div
        class="d-flex flex-column flex-md-row gap-2 justify-content-space-between"
        style="line-height: 1.6; white-space: nowrap"
      >
        <p class="flex-grow-1">
          <b>Email:</b> freshcleaningteam@gmail.com
          <br />
          <b>Phone:</b> +1 (732) 799-0341
        </p>
        <p class="flex-grow-1 flex-shrink-0 text-md-end">
          © 2024 All Rights Reserved
          <!-- <br />
          Site desenvolvido por
          <a href="https://moisesmarchini.vercel.app" target="_blank"
            >Moisés Marchini</a
          > -->
        </p>
      </div>
    </div>
  </div>
</footer>
