:host.inactive .card {
  opacity: 0.5;
  filter: grayscale(1);
}

.card {
  padding: 1rem 2rem;
  gap: 2rem;
  min-height: 100%;
  align-items: center;
  justify-content: start;
  transition: all var(--default-animation-duration);
  border: 1px solid transparent;
  margin: -1px;
  position: relative;
  &:hover {
    filter: grayscale(0) !important;
    opacity: 1 !important;
    box-shadow: 0px 4px 20px #0000001a;
    z-index: 10;
    border-color: var(--content-bg-alt);
  }
}

.icon-wrapper {
  position: relative;
  display: grid;
  place-content: center;
  width: 120px;
  height: 120px;
  > .icon {
    background-color: var(--white);
    color: var(--primary-light);
    font-size: 4rem;
    width: 90px;
    height: 90px;
    display: grid;
    place-content: center;
  }
}

.content {
  text-align: center;
  > .title {
    font-size: 1.5rem;
    margin-bottom: 1em;
  }
  > .body {
    font-size: 1rem;
  }
}
