.card {
  padding: 1rem 2rem;
  gap: 2rem;
  min-height: 100%;
  align-items: center;
  justify-content: start;
}

.icon-wrapper {
  position: relative;
  display: grid;
  place-content: center;
  width: 120px;
  height: 120px;
  &::before {
    content: "";
    position: absolute;
    width: 85px;
    height: 85px;
    right: 0;
    bottom: 0;
    background-image: url(/assets/svgs/dots-bg.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  > .icon {
    background-color: var(--white);
    color: var(--primary-light);
    font-size: 4rem;
    width: 90px;
    height: 90px;
    display: grid;
    place-content: center;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.content {
  text-align: center;
  > .title {
    font-size: 1.5rem;
    margin-bottom: 1em;
  }
  > .body {
    font-size: 1rem;
  }
}
