header {
  padding: var(--nav-pad-y) 0;
  background-color: transparent; //var(--body-bg);
  position: relative;
  z-index: 100;
}

.container {
  height: var(--nav-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-wrapper {
  height: inherit;
  width: clamp(120px, 20vw, 150px);
  overflow: hidden;
  padding: 8px 0;
}

nav > ul {
  display: flex;
  gap: 1rem;
}

nav > ul > li > a {
  position: relative;
  display: grid;
  color: var(--primary-dark);
  padding: 0.5rem 1rem;
  font-weight: 500;
  transition: opacity var(--default-animation-duration);
  &.active,
  &:hover {
    &::before {
      width: 100%;
    }
  }
  &::before {
    content: "";
    position: absolute;
    transition: width var(--default-animation-duration);
    bottom: -2px;
    width: 0px;
    height: 2px;
    background-color: var(--primary-dark);
    left: 50%;
    transform: translateX(-50%);
  }
}
