<header [class.sticked]="isSticked">
  <h1 class="visibility-hidden">{{ webTitle }}</h1>
  <div class="container logo-row">
    <div class="row">
      <div class="logo-wrapper place-content-center">
        <a [routerLink]="routes.home">
          <img src="/assets/logo/logo-transparent.png" alt="" srcset="" />
        </a>
      </div>
      <div class="right">
        <a [href]="smsLink" class="btn btn-primary btn-pill">
          Request a Free Estimate
        </a>
        <button
          type="button"
          class="d-md-none btn-toggle btn-outline-primary active btn-pill btn"
          (click)="expand = !expand"
        >
          <i class="fa-solid fa-bars btn-icon" [class.show]="!expand"></i>
          <i class="fa-solid fa-xmark btn-icon" [class.show]="expand"></i>
        </button>
      </div>
    </div>
  </div>
  <nav
    class="container align-items-center justify-content-center py-1"
    [class.expand]="expand"
  >
    <ul>
      <ng-container *ngFor="let navLink of navLinks; let i = index">
        <li>
          <a
            [routerLink]="navLink.route"
            (click)="expand = false"
            routerLinkActive="active"
            >{{ navLink.title }}</a
          >
        </li>
        <!-- <span class="divider" *ngIf="i < navLinks.length - 1"></span> -->
      </ng-container>
    </ul>
  </nav>
</header>
