<header>
  <div class="container">
    <div class="logo-wrapper place-content-center">
      <a [routerLink]="routes.home">
        <img src="/assets/logo/logo-transparent.png" alt="" srcset="" />
      </a>
    </div>
    <nav>
      <ul>
        <!-- <li>
          <a [routerLink]="routes.home" routerLinkActive="active">Home</a>
        </li> -->
        <!-- <li>
            <a [routerLink]="routes.aboutUs" routerLinkActive="active"
              >About Us</a
            >
          </li> -->
        <!-- <li>
          <a [routerLink]="routes.service" routerLinkActive="active">Service</a>
        </li> -->
        <li>
          <a [routerLink]="routes.contact" routerLinkActive="active"
            >Contact Us</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
