@import "../../styles/breakpoints";

header {
  padding: var(--nav-pad-y) 0;
  background-color: transparent; //var(--body-bg);
  position: relative;
  z-index: 100;
}

header > .container {
  height: var(--nav-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  flex-direction: column;
}

.row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.logo-wrapper {
  max-height: var(--nav-height);
  width: clamp(120px, 20vw, 150px);
  overflow: hidden;
  padding: 8px 0;
}

.btn {
  font-size: 1rem;
  font-weight: 400;
}

nav {
  display: none;
  @include breakpoint-lg {
    display: flex;
  }
}

nav > ul {
  --_link-color: var(--primary-dark);
  display: flex;
  gap: 0.25rem;
  align-items: center;
  flex-wrap: nowrap;
  // overflow-x: auto;
}

nav > ul > .divider {
  width: 6px;
  height: 1px;
  display: block;
  background-color: var(--_link-color);
}

nav > ul > li > a {
  position: relative;
  display: grid;
  color: var(--_link-color);
  padding: 0.25rem 0.5rem;
  transition: opacity var(--default-animation-duration);
  &.active,
  &:hover {
    --_link-color: var(--primary-dark);
    &::before {
      width: 100%;
    }
  }
  &::before {
    content: "";
    position: absolute;
    transition: width var(--default-animation-duration);
    bottom: -2px;
    width: 0px;
    height: 2px;
    background-color: var(--_link-color);
    left: 50%;
    transform: translateX(-50%);
  }
}
