@import "../../styles/breakpoints";

.wrapper {
  display: flex;
  position: relative;
  align-items: center;
  min-height: 350px;
  overflow: hidden;
  flex-direction: column-reverse;

  > .left {
    padding: 1.5rem;
    margin: -6rem 0 0 2rem;
    background-color: var(--content-bg-alt);
    z-index: 2;
    .content-title {
      font-weight: bold;
    }
    .content-body {
      display: none;
    }
  }
  > .right {
    display: grid;
    place-content: center;
    overflow: hidden;
    max-height: 550px;
    margin: 0 2rem 0 0;
    z-index: 1;
  }
  &.reverse {
    .left {
      margin-left: 0;
      margin-right: 2rem;
    }
    .right {
      margin: 0 0 0 2rem;
    }
  }

  @include breakpoint-lg {
    flex-direction: row;
    > .left {
      margin: 0;

      padding: 2rem;
      position: absolute;
      width: 50%;
      p {
        display: block;
      }
    }
    > .right {
      position: relative;
      margin: 0;
      margin-left: auto;
      width: 60%;
      background-color: blue;
      > img {
        height: 100%;
      }
    }
    &.reverse {
      .left {
        right: 0;
      }
      .right {
        margin-left: unset;
        left: 0;
      }
    }
  }
}

@include breakpoint-sd-only {
  .content-title {
    font-size: 1.875rem;
  }
}
