<div class="wrapper" [class.reverse]="directionReverse">
  <div class="left">
    <div class="left-content">
      <h2 class="mark-up p" [class.visibility-hidden]="!options.markUp">
        {{ !options.markUp ? defaultMarkUp : options.markUp }}
      </h2>
      <h5 class="content-title h2">
        {{ options.title }}
      </h5>
      <p class="content-body" [innerHTML]="options.body"></p>
    </div>
  </div>
  <div class="right">
    <img [src]="imagesRootPath + options.imagePath" alt="" />
  </div>
</div>
