.slider-wrapper,
.slider,
.container {
  position: relative;
}

.slider-wrapper {
  --_item-width: 200px;
  --_item-gap: 1rem;
  --border-radius: 4px;
  overflow: hidden;
}

.slider {
  height: 80vh;
}

.slider-controls {
  position: absolute;
  display: flex;
  bottom: var(--_item-gap);
  left: var(--_item-gap);
  gap: 4px;
  z-index: 1;
  .control {
    padding: 0.75rem 1.5rem;
    border: 0;
    border-radius: var(--border-radius);
    &.control-left {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &.control-right {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.slider-item {
  --_item-index: 0;
  --_x: calc((var(--_item-width) + var(--_item-gap)) * var(--_item-index));
  width: var(--_item-width);
  height: 300px;
  background-color: red;
  position: absolute;
  bottom: var(--_item-gap);
  left: 50%;
  transform: translateX(calc(-50% + var(--_x)));
  border-radius: var(--border-radius);
  transition: all 1s;
}

.slider-item:nth-child(1),
.slider-item:last-child {
  background-color: blue;
  inset: 0;
  width: 100%;
  height: 100%;
  transform: translate(0, 0);
}

.slider-item:nth-child(2) {
  --_item-index: 1;
}

.slider-item:nth-child(3) {
  --_item-index: 2;
}

.slider-item:nth-child(4) {
  --_item-index: 3;
}

.slider-item:nth-child(n + 4) {
  --_item-index: n + 4;
  opacity: 0;
}

.slider-item:last-child {
  --_item-index: 0;
  opacity: 0;
}
