section > .layout {
  margin: 1rem 0;
  place-content: center;
}

.body-content {
  max-width: 800px;
}

.section-title {
  color: var(--primary-dark);
  font-size: 1.75rem;
}

.section-content {
  font-size: 1rem;
}

.layout.reverse-on-mobile {
  display: flex;
  flex-direction: column-reverse;
}
