<div
  [class]="
    'layout d-lg-grid gap-3 ' +
    (options?.customRootClass ?? '') +
    ' ' +
    (options?.disableGridCols ? ' ' : ' grid-lg-cols-2')
  "
  [class.reverse-on-mobile]="reverseOnMobile"
>
  <ng-content select=".custom-left-content"></ng-content>
  <div
    class="body-content py-2 my-auto"
    [class.px-5]="!options?.disablePaddingX"
  >
    <h3
      *ngIf="!!title"
      [class]="'mb-2 section-title ' + (options?.customTitleClass ?? '')"
    >
      {{ title }}
    </h3>
    <p
      *ngFor="let item of content"
      [class]="'section-content ' + (options?.customContentClass ?? '')"
    >
      {{ item }}
    </p>
  </div>
  <ng-content select=".custom-right-content"></ng-content>
</div>
