<div class="hero-wrapper">
  <div class="hero container">
    <div class="hero-body">
      <h1 class="hero-title">
        <span class="small">Services</span> <br /><span class="decorate"
          >To Clean</span
        >
      </h1>
      <p class="hero-description text-muted mb-3" [innerHTML]="description"></p>
      <div class="hero-btns">
        <button
          type="button"
          class="btn btn-primary btn-pill"
          style="
            --active-bg-color: #8db86a;
            --bg-color: #a4d67c;
            --color: white;
            --active-color: white;
          "
        >
          Contact Us
        </button>
      </div>
    </div>
    <div class="hero-img-wrapper">
      <img [src]="bannerImg" alt="" srcset="" class="hero-img" />
    </div>
  </div>
</div>
