<div class="hero-wrapper">
  <div class="hero container">
    <div class="hero-body">
      <div class="hero-title h1">
        <h1 class="small">Services</h1>
        <h1 class="decorate">To Clean</h1>
      </div>
      <p class="hero-description mb-5" [innerHTML]="description"></p>
      <div class="hero-btns">
        <button type="button" class="btn btn-primary btn-pill">
          Contact Us
        </button>
      </div>
    </div>
    <div class="hero-img-wrapper">
      <img [src]="bannerImg" alt="" srcset="" class="hero-img" />
    </div>
  </div>
</div>
