@import "../../styles/breakpoints";

.hero-wrapper {
  --_hero-bg-color: var(--body-bg);
  --_hero-h1-small-color: var(--primary-light);
  --_hero-h1-decorate-color: ; //var(--primary-dark);
  --_hero-p-color: var(--muted);
  --_height: 100svh;
  --_max-height: calc(100vh - var(--nav-total-height));
  --_top: ; //calc(-1 * var(--nav-total-height));

  position: relative;
  overflow: hidden;
  margin-top: var(--_top);
  background-color: var(--_hero-bg-color);
  width: 100%;
  aspect-ratio: 1.75;
  max-height: var(--_max-height);
  display: grid;
  place-content: center;
  .video-wrapper {
    position: relative;
    overflow: hidden;
    &::before {
      pointer-events: none;
      content: "";
      position: absolute;
      z-index: 1;
      inset: 0;
      background: linear-gradient(to bottom, var(--body-bg), transparent 60px);
    }
  }

  video {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 900px;
    display: block;
  }
}
