@import "../../styles/breakpoints";

:host {
  position: sticky;
  top: 0;
  z-index: 10000;
}

header {
  padding: var(--nav-pad-y) 0;
  background-color: var(--body-bg);
  position: relative;
  z-index: 100;
  box-shadow: 0px 0px 0px transparent;
  border-bottom: 1px solid transparent;
  transition: border-color var(--default-animation-duration),
    box-shadow var(--default-animation-duration);
  &.sticked {
    border-color: 1px solid #dcdcdc;
    box-shadow: 0px 0px 20px #00000042;
  }
}

header > .container.logo-row {
  height: var(--nav-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  flex-direction: column;
}

.row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  .right {
    gap: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.logo-wrapper {
  max-height: var(--nav-height);
  width: clamp(110px, 20vw, 150px);
  overflow: hidden;
  padding: 8px 0;
}

.btn {
  font-size: 1rem;
  font-weight: 400;
  text-wrap: nowrap;
  flex-wrap: nowrap;
}

.btn-toggle {
  position: relative;
  width: 32px;
  height: 32px;
  padding: 0;
  display: grid;
  place-content: center;
  > .btn-icon {
    transition: var(--default-animation-duration);
    display: grid;
    place-content: center;
    inset: 0;
    position: absolute;
    opacity: 0;
    rotate: 90deg;
    &.show {
      rotate: 0deg;
      opacity: 1;
    }
  }
}

nav {
  display: flex;
  @include breakpoint-md-only {
    visibility: hidden;
    width: 100%;
    background-color: white;
    z-index: 10;
    transition: var(--default-animation-duration);
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: var(--nav-height);
    transform: translateY(-100%);
    right: 0;
    ul {
      flex-direction: column;
      > li {
        width: 100%;
        text-align: center;
        padding: 0.25rem 1rem;
      }
    }
    ul > .divider {
      display: none !important;
    }
    &.expand {
      transform: translateY(0%);
      padding: 1rem;
      visibility: visible;
    }
  }
}

nav > ul {
  --_link-color: var(--primary-dark);
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: nowrap;
}

nav > ul > .divider {
  width: 6px;
  display: block;
  border-bottom: 1px solid var(--_link-color);
  background-color: var(--_link-color);
  opacity: 0.75;
}

nav > ul > li > a {
  position: relative;
  display: grid;
  color: var(--_link-color);
  padding: 0.25rem 0.5rem;
  transition: opacity var(--default-animation-duration);
  font-weight: 400;
  font-size: 0.875rem;
  opacity: 0.75;
  &.active,
  &:hover {
    --_link-color: var(--primary-dark);
    opacity: 1;
    &::before {
      width: 100%;
    }
  }
  &::before {
    content: "";
    position: absolute;
    transition: width var(--default-animation-duration);
    bottom: -2px;
    width: 0px;
    height: 1px;
    background-color: var(--_link-color);
    left: 50%;
    transform: translateX(-50%);
  }
}
