<app-hero-banner></app-hero-banner>

<div class="container">
  <div class="d-grid gap-3">
    <div class="d-grid gap-3">
      <app-page-section [options]="sections.getInTouch">
        <div class="custom-left-content">
          <app-carousel [imgPaths]="getVerticalImages()"></app-carousel>
        </div>
      </app-page-section>
    </div>

    <div class="d-grid grid-lg-cols-3 gap-3 gap-lg-1">
      <app-card-image
        *ngFor="let card of cardImages"
        [options]="card"
      ></app-card-image>
    </div>
  </div>
</div>
